@model WebAppCore.Areas.Security.Models.LoggedInUserDetailsViewModel

<div class="modal fade pl-0" id="modalloggedInUserDetails" tabindex="-1" role="dialog"
     aria-hidden="true" data-backdrop="static" data-keyboard="false">
    <script>
        $(function () {

            $("#LoggedInUserDetailsdialog").draggable(
                {
                    handle: "#LoggedInUserDetailsheader"
                }
            );
            $(".modal-title").disableSelection();

        });
    </script>

    <div id="LoggedInUserDetailsdialog" class="modal-dialog  modal-lg modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header bg-info "
                 style="box-shadow: 0 0 5px #888; cursor: grab; color:white" id="LoggedInUserDetailsheader">
                <h5 class="modal-title" id="exampleModalLabel">
                    <i class="fas fa-user-tie"></i>
                    User Details
                </h5>
            </div>
            <div class="modal-body" style="overflow-y: auto; max-height: 400px;">

                <div class="row">
                    <div class="col-12 col-sm-12 col-md-8 col-lg-9 col-xl-9 pl-2 pb-3 pr-0">
                        <div class="row">
                            <div class="col-sm-12 col-md-12 col-lg-6 col-xl-6  ">
                                <span>User Name</span>
                                <input asp-for="UserName" id="registerUserName" data-val="true" type="text"
                                       style="color: black; font-weight: 500;" disabled="disabled" placeholder="Enter User Name" class="form-control" />
                            </div>
                            <div class="col-sm-12 col-md-12 col-lg-6 col-xl-6  ">
                                <span>User Id</span>
                                <input asp-for="UserId" id="registerEmailId" data-val="true" type="text"
                                       style="color: black; font-weight: 500;" disabled="disabled" placeholder="Enter Email Id" class="form-control" />
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12 col-md-12 col-lg-6 col-xl-6  pt-3">
                                <span>First Name</span>
                                <input asp-for="FirstName" id="registerFirstName" data-val="true" type="text"
                                       style="color: black; font-weight: 500;" disabled="disabled" placeholder="Enter First Name" class="form-control" />
                            </div>
                            <div class="col-sm-12 col-md-12 col-lg-6 col-xl-6  pt-3">
                                <span>Last Name</span>
                                <input asp-for="LastName" id="registerLastName" data-val="true" type="text"
                                       style="color: black; font-weight: 500;" disabled="disabled" placeholder="Enter Last Name" class="form-control" />
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12 col-md-12 col-lg-6 col-xl-6 pt-3 ">
                                <span>Email Id</span>
                                <input asp-for="Email" id="registerEmailId" data-val="true" type="text"
                                       style="color: black; font-weight: 500;" disabled="disabled" placeholder="Enter Email Id" class="form-control" />
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-sm-12 col-md-4 col-lg-3 col-xl-3 pl-2 pt-0 pr-0">
                        Assigned Roles
                        <div class="row pt-2" style="display: block;">
                            @foreach (var item in Model.UserRoles)
                            {
                                <h6 class="pl-4">@item</h6>
                            }
                        </div>
                    </div>

                    <div class="col-12 col-sm-12 col-md-12 col-lg-6 col-xl-6 pl-2 pt-2 pr-0">

                        <div class="card text-center" style="    border-radius: 0px;">
                            <div class="card-header" style="    border-radius: 0px;">
                                Last Session Details
                            </div>
                            <div class="card-body ">
                                @if (@Model.LastLoggedInUserDetailsViewModel != null)
                                {
                                    <dl class="row pb-1">
                                        <dd class="col-4 d-flex justify-content-start">IP Address</dd>
                                        <dt class="col-8 d-flex justify-content-start">@Model.LastLoggedInUserDetailsViewModel.IpAddress</dt>
                                        <dd class="col-4 d-flex justify-content-start">City</dd>
                                        <dt class="col-8 d-flex justify-content-start">@Model.LastLoggedInUserDetailsViewModel.City</dt>
                                        <dd class="col-4 d-flex justify-content-start">Country</dd>
                                        <dt class="col-8 d-flex justify-content-start">@Model.LastLoggedInUserDetailsViewModel.Country</dt>
                                        <dd class="col-4 d-flex justify-content-start">ISP Details</dd>
                                        <dt class="col-8 d-flex justify-content-start">@Model.LastLoggedInUserDetailsViewModel.ISPDetails</dt>
                                        <dd class="col-4 d-flex justify-content-start">Last Login</dd>
                                        <dt class="col-8 d-flex justify-content-start">@Model.LastLoggedInUserDetailsViewModel.CreatedOn</dt>
                                        <dd class="col-4 d-flex justify-content-start">Disconnected</dd>
                                        <dt class="col-8 d-flex justify-content-start">@Model.LastLoggedInUserDetailsViewModel.SessionDisconnectedOn</dt>
                                    </dl>
                                }
                                else
                                {
                                    <dl class="row pb-1">
                                        <dd class="col-4 d-flex justify-content-start">IP Address</dd>
                                        <dt class="col-8 d-flex justify-content-start"></dt>
                                        <dd class="col-4 d-flex justify-content-start">City</dd>
                                        <dt class="col-8 d-flex justify-content-start"></dt>
                                        <dd class="col-4 d-flex justify-content-start">Country</dd>
                                        <dt class="col-8 d-flex justify-content-start"></dt>
                                        <dd class="col-4 d-flex justify-content-start">ISP Details</dd>
                                        <dt class="col-8 d-flex justify-content-start"></dt>
                                        <dd class="col-4 d-flex justify-content-start">Last Login</dd>
                                        <dt class="col-8 d-flex justify-content-start"></dt>
                                        <dd class="col-4 d-flex justify-content-start">Disconnected</dd>
                                        <dt class="col-8 d-flex justify-content-start"></dt>
                                    </dl>
                                }
                            </div>
                        </div>
                    </div>

                    <div class="col-12 col-sm-12 col-md-12 col-lg-6 col-xl-6 pl-2 pt-2 pr-0">

                        <div class="card text-center" style="    border-radius: 0px;">
                            <div class="card-header" style="    border-radius: 0px;">
                                Current Session Details
                            </div>
                            <div class="card-body">
                                <dl class="row">
                                    <dd class="col-4 d-flex justify-content-start">IP Address</dd>
                                    <dt class="col-8 d-flex justify-content-start">@Model.CurrentLoggedInUserDetailsViewModel.IpAddress</dt>
                                    <dd class="col-4 d-flex justify-content-start">City</dd>
                                    <dt class="col-8 d-flex justify-content-start">@Model.CurrentLoggedInUserDetailsViewModel.City</dt>
                                    <dd class="col-4 d-flex justify-content-start">Country</dd>
                                    <dt class="col-8 d-flex justify-content-start">@Model.CurrentLoggedInUserDetailsViewModel.Country</dt>
                                    <dd class="col-4 d-flex justify-content-start">ISP Details</dd>
                                    <dt class="col-8 d-flex justify-content-start">@Model.CurrentLoggedInUserDetailsViewModel.ISPDetails</dt>
                                    <dd class="col-4 d-flex justify-content-start">Logged In</dd>
                                    <dt class="col-8 d-flex justify-content-start">@Model.CurrentLoggedInUserDetailsViewModel.CreatedOn</dt>
                                    <dd class="col-4 d-flex justify-content-start" style="color:white">R </dd>
                                    <dt class="col-8 d-flex justify-content-start"style="color:white">R </dt>
                                </dl>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-dark" data-dismiss="modal">
                    <i class="fas fa-times"></i>
                    Close
                </button>
            </div>
        </div>
    </div>
</div>

<script>
    jQuery(document).ready(function () {
        $('#modalloggedInUserDetails').modal('show');
    });
</script>