<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - WebAppCore</title>




    <link rel="stylesheet" href="~/lib/JqueryUI/jquery-ui.min.css" />
    <link rel="stylesheet" href="~/lib/JqueryUI/jquery-ui.theme.min.css" />
    <link rel="stylesheet" href="~/lib/JqueryUI/jquery-ui.structure.min.css" />



    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/pwstrength-bootstrap/2.2.1/pwstrength-bootstrap.min.js"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation/dist/additional-methods.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
    <script src="https://ajax.aspnetcdn.com/ajax/jquery.unobtrusive-ajax/3.2.5/jquery.unobtrusive-ajax.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/js/Main.js" asp-append-version="true"></script>
    <script src="~/js/Employee.js" asp-append-version="true"></script>



    <script src="https://kendo.cdn.telerik.com/2018.3.911/js/jszip.min.js"></script>
    <script src="https://kendo.cdn.telerik.com/2018.3.911/js/kendo.all.min.js"></script>
    <script src="https://kendo.cdn.telerik.com/2018.3.911/js/kendo.aspnetmvc.min.js"></script>

    <script src="https://kendo.cdn.telerik.com/2018.3.911/js/kendo.aspnetmvc.min.js"></script>

    <script src="~/lib/JqueryUI/jquery-ui.min.js" asp-append-version="true"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootbox.js/4.4.0/bootbox.min.js"></script>


    <script src="https://cdnjs.cloudflare.com/ajax/libs/crypto-js/3.1.9-1/crypto-js.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/crypto-js/3.1.9-1/aes.min.js"></script>

    <script src='https://cdnjs.cloudflare.com/ajax/libs/jsnlog/2.24.0/jsnlog.min.js'></script>

    <script src="~/lib/signalr/dist/browser/signalr.min.js"></script>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css" integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
          rel="stylesheet">
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />

    <link href="~/lib/kendo-ui/all.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="~/css/site.css" />


    <script>

        $(window).on('load', function () {
            $('#loadingIconModal').modal('show');


        });

        window.onerror = function (msg, url, line) {
            var message = "JsErrorId!%$*: " + "Error in " + url + " on line " + line + ": " + msg;
            JL("JSError.WebAppCore").error(message);

        };

    </script>
    @*<environment exclude="Development">
            <link rel="stylesheet" href="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/css/bootstrap.min.css"
                  asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
                  asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" />
            <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />
        </environment>*@
</head>
<body>

    <input type="hidden" id="refresh" value="no">

    <div class="modal fade" id="modalMessageShowReloadPopUp" tabindex="-1" role="dialog"
         data-backdrop="static" data-keyboard="false">
        <div class="modal-dialog  modal-lg" id="modalMessageShowReloadPopUp">
            <div class="modal-content">
                <script>
                    $(function () {
                        $("#modalMessageShowReloadPopUpDialog").draggable(
                            {
                                handle: "#modalMessageShowReloadPopUpHeader"
                            }
                        );
                        $(".modal-title").disableSelection();


                        $('#modalMessageShowReloadPopUpClose').on('click', function (e) {
                            location.reload();
                        });
                    });
                </script>
                <div class="modal-header bg-info pt-0 pb-0 "
                     style="box-shadow: 0 0 5px #888; cursor: grab; color:white" id="modalMessageShowReloadPopUpHeader">
                    <h5 class="modal-title" id="modalMessageShowReloadPopUpHeaderTitle"></h5>
                </div>

                <!-- Modal body -->
                <div class="modal-body pt-3 pb-3" id="modalMessageShowReloadPopUpBody">
                    <span style="    font-size: 15px;" id="modalMessageShowReloadPopUpMessage"></span>
                </div>

                <!-- Modal footer -->
                <div class="modal-footer">
                    <button type="button" id="modalMessageShowReloadPopUpClose" class="btn btn-dark ml-2"
                            data-dismiss="modal">
                        <i class="fas fa-times"></i>
                        Close
                    </button>
                </div>
            </div>
        </div>
    </div>
    <!-- The Modal -->
    <div class="modal fade" id="modalMessageShowPopUp" tabindex="-1" role="dialog"
         data-backdrop="static" data-keyboard="false">
        <div class="modal-dialog  modal-lg" id="modalMessageShowPopUpDialog">
            <div class="modal-content">
                <script>
                    $(function () {

                        $("#modalMessageShowPopUpDialog").draggable(
                            {
                                handle: "#modalMessageShowPopUpHeader"
                            }
                        );
                        $(".modal-title").disableSelection();

                    });
                </script>
                <div class="modal-header bg-info pt-0 pb-0 "
                     style="box-shadow: 0 0 5px #888; cursor: grab; color:white" id="modalMessageShowPopUpHeader">
                    <h5 class="modal-title" id="modalMessageShowPopUpHeaderTitle"></h5>
                </div>

                <!-- Modal body -->
                <div class="modal-body pt-3 pb-3" id="modalMessageShowPopUpBody">
                    <span style="    font-size: 15px;" id="modalMessageShowPopUpMessage"></span>
                </div>

                <!-- Modal footer -->
                <div class="modal-footer" style="padding-top: 5px; padding-bottom: 5px;">
                    <button type="button" id="modalMessageShowPopUpClose" class="btn btn-dark ml-2"
                            data-dismiss="modal">
                        <i class="fas fa-times"></i>
                        Close
                    </button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal show" id="loadingIconModal"
         tabindex="-1" role="dialog"
         data-backdrop="static" data-keyboard="false"
         style="z-index:99999;background-color: rgba(0, 0, 0, 0.32);">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content d-flex align-items-center" style="background-color: transparent;box-shadow: none;border-bottom: 0px;">
                <div class="loader"></div>
                <span style="color:white; font-size:25px; padding-top: 10px;">Processing, Please Wait...</span>
            </div>
        </div>
    </div>

    <nav class="navbar navbar-expand-lg  navbar-dark bg-primary fixed-top pt-0 pb-0 pl-0 pr-0"
         style="box-shadow: 1px 3px 3px 0px rgba(105, 24, 24, 0.37);
               min-height: 50px;">
        <div id="brandLogo" class="btn pl-0" style="background-color:rgb(17, 23, 82);
                    box-shadow: 2px 3px 10px rgba(10, 6, 6, 0.38); position: fixed; width: 65px;
                    height: 58px; left: 7px;  z-index: 2;cursor:pointer ;top: 0px;
                        " onclick="JsMain.RedirectToHomePage()">
            <h3 style="color:white;margin-top: 5px;margin-left: 4px;">
                Logo
            </h3>
        </div>
        <a id="navBrandHome" class="navbar-brand" style="padding-left: 83px;padding-right:5px;margin-right: 0.352;
                    font-size: 23px;margin-right: 3px;color:white" onclick="JsMain.RedirectToHomePage()">HR Management</a>
        <!-- Navbar content -->
        <button id="btnNavbarCollapse" class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"
                style="height: 40px;width: 40px;">
            <i class="fas fa-angle-double-left"></i>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent" style="max-height:400px;">
            <ul class="navbar-nav mr-auto ">

                <li class="nav-item dropdown p-l-xs p-l-sm " id="navItemEmployeeDropDown">
                    <a class="nav-link dropdown-toggle pl-0" href="#" id="navbaEmployeeDropDown"
                       role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Employee
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" onclick="JsMain.ShowLoaddingIndicator()"
                           asp-area="EmployeeManage" asp-controller="EmployeeManage" asp-action="AddEmployeePage">Add Employee</a>
                        <a class="dropdown-item" onclick="JsMain.ShowLoaddingIndicator()"
                           asp-area="EmployeeManage" asp-controller="EmployeeManage" asp-action="Index">Employee Manage</a>
                        <a class="dropdown-item" href="#" onclick="JsMain.ShowLoaddingIndicator()">Authrization</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="#">Something else here</a>
                    </div>
                </li>


                <li class="nav-item dropdown p-l-xs p-l-sm pr-1">
                    <a class="nav-link dropdown-toggle pl-0" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Static Pages
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" onclick="JsMain.ShowLoaddingIndicator()"
                           asp-area="Base" asp-controller="Base" asp-action="Error">Error Page</a>
                        <a class="dropdown-item" onclick="JsMain.ShowLoaddingIndicator()"
                           asp-area="Security" asp-controller="UserAccount" asp-action="AccessDenied">Access Denied</a>

                    </div>
                </li>
                <li class="nav-item p-l-xs p-l-sm ">
                    <a class="nav-link pl-0" href="\">About Me</a>
                </li>


            </ul>
            <div style="
    display: flex;
    padding-bottom: 2px;
    padding-right: 7px;
" class="d-flex justify-content-end">
                @if (User.Identity.IsAuthenticated)
                {

                    <a style="color:white; background-color:#15134e; padding-left: 5px;padding-right: 5px;" onclick="JsMain.GetLoggedInUserDetails('@Url.Action("GetLoggedInUserDetails", "UserAccount",  new { Area = "Security" })')"
                       class="btn btn-primary" title="Manage">
                        Hello <span class="blockquote">@User.Identity.Name!</span>
                    </a>

                    <form asp-area="Security" asp-controller="UserAccount" asp-action="Logout"
                          onclick="JsMain.ShowLoaddingIndicator()"
                          asp-route-returnUrl="@Url.Action("Index", "UserAccount", new { area = "UserAccount" })"
                          method="post" id="logoutForm" class="navbar-right">
                        <ul class="nav navbar-nav navbar-right">

                            <li>
                                <button type="submit" style="box-shadow: 0 1px 4px rgb(0, 0, 0);color:sandybrown;padding-right: 14px;margin-left: 9px;" class="btn btn-primary">
                                    <i style="font-size: 20px;margin-top: 6px;margin-left: 0px;margin-right: 2px;" class="fas fa-power-off"></i>
                                </button>
                            </li>
                        </ul>
                    </form>

                }
                else
                {

                    <ul class="nav navbar-nav navbar-right">
                        <li class="nav-item">
                            <a style="color:white" class="nav-link" asp-area="Security" asp-controller="UserAccount" asp-action="UserAccount">Register</a>
                        </li>
                        <li class="nav-item">
                            <a style="color:white" class="nav-link" asp-area="Security" asp-controller="UserAccount"
                               asp-action="UserAccount">Login</a>
                        </li>
                    </ul>
                }
            </div>
        </div>
    </nav>
    <partial name="_CookieConsentPartial" />

    <div class="container-fluid pl-1 pr-1" style="background-color:
    rgba(254, 232, 255, 0.08);padding-top: 9px;">
        @RenderBody()
    </div>
    <div class="row">
        <div id="globalHTMLAppender">

        </div>
    </div>

    <mini-profiler position="RenderPosition.BottomRight" />
    <script>

        var errorPageUrl = '@Url.Action("Error", "Base", new { area = "Base" })';

        $('.navbar-collapse').on('shown.bs.collapse', function () {
            $('#btnNavbarCollapse').html('<i class="fas fa-angle-double-down"></i>');
            $('#navbarSupportedContent').css('overflow-y', 'scroll');
        });
        $('.navbar-collapse').on('hidden.bs.collapse', function () {
            $('#btnNavbarCollapse').html('<i class="fas fa-angle-double-left"></i>');
            $('#navbarSupportedContent').css('overflow-y', 'hidden');


        });



        $(document).ready(function () {


            setTimeout(
                function () {

                    $('#loadingIconModal').fadeOut(500, function () {
                        $('#loadingIconModal').modal('hide');
                    });

                    var brandLogoAnimate = KUTE.fromTo('#brandLogo', { rotateX: 180 }, { rotateX: 180 }, { perspective: 600, duration: 600 });
                    var brandLogoAnimateReverse = KUTE.fromTo('#brandLogo', { rotateX: 180 }, { rotateX: 0 }, { perspective: 600, duration: 100 });
                    brandLogoAnimate.chain(brandLogoAnimateReverse);
                    brandLogoAnimate.start();

                    //do something special
                }, 500);

            var timerID = setInterval(function () {
                var brandLogoAnimate = KUTE.fromTo('#brandLogo', { rotateX: 180 }, { rotateX: 180 }, { perspective: 600, duration: 800 });
                var brandLogoAnimateReverse = KUTE.fromTo('#brandLogo', { rotateX: 180 }, { rotateX: 0 }, { perspective: 600, duration: 100 });
                brandLogoAnimate.chain(brandLogoAnimateReverse);
                brandLogoAnimate.start();
            }, 10 * 1000);

        });


        var connection = new signalR.HubConnectionBuilder().withUrl("/applicationHub").build();

        connection.on("rUpdateDashBoardRow1Widgets", function (message) {

            //var msg = message.replace(/&/g, "&amp;").replace(/</g, "&lt;").replace(/>/g, "&gt;");
            //var encodedMsg = user + " says " + msg;
            console.error(message.toString());

        });

        connection.start().catch(function (err) {
            return console.error(err.toString());
        });

        setTimeout(
            function () {
                connection.invoke("SendMessage", "vvvvv", "vdsvsdv").catch(function (err) {
                    return console.error(err.toString());
                });
            }, 3000);




    </script>
    <script src="https://cdn.jsdelivr.net/npm/kute.js@1.6.5/kute.min.js" crossorigin="anonymous"></script> <!-- jQuery Plugin -->

    <script src="https://cdn.jsdelivr.net/npm/kute.js@1.6.5/kute-attr.min.js" crossorigin="anonymous"></script> <!-- jQuery Plugin -->
    <script src="https://cdn.jsdelivr.net/npm/kute.js@1.6.5/kute-css.min.js" crossorigin="anonymous"></script> <!-- jQuery Plugin -->
    <script src="https://cdn.jsdelivr.net/npm/kute.js@1.6.5/kute-jquery.min.js" crossorigin="anonymous"></script> <!-- jQuery Plugin -->
    <script src="https://cdn.jsdelivr.net/npm/kute.js@1.6.5/kute-svg.min.js" crossorigin="anonymous"></script> <!-- jQuery Plugin -->
    <script src="https://cdn.jsdelivr.net/npm/kute.js@1.6.5/kute-text.min.js" crossorigin="anonymous"></script> <!-- jQuery Plugin -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tilt.js/1.2.1/tilt.jquery.min.js" crossorigin="anonymous"></script> <!-- jQuery Plugin -->


    @RenderSection("Scripts", required: false)



</body>
</html>